<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,400, 500,800" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="todos.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <title>Bucket List</title>
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <h1 class="title"> BUCKET<span class="more">LIST </span></h1>
        <h2 class="subtitle">One Place for All of Your Dreams</h2>
      </header>

      <form class="form">
        <input class="input" id="todoInput" type="text" placeholder="I Have a Dream...">
      </form>

      <ul class="tasks">
      </ul>

    </div>
    <script type="text/javascript" src="todos.js"></script>
  </body>
</html>
