<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="todos.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <title>Do More</title>
  </head>
  <body>
    <header>
      <h1> Do More </h1>
      <h2 class="home-text">A place where you can add and edit your tasks</h2>
    </header>

    <form class="form">
      <input id="todoInput" type="text" placeholder="Add a Task">
    </form>

    <ul class="tasks">
    </ul>

    <script type="text/javascript" src="todos.js"></script>
  </body>
</html>
